
#container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#heading {
    text-align: center;
  font-size: 40px;
  color: red;
  /* border: 2px solid red; */
}
#btn {
  padding: 15px;
  font-size: 20px;
  border-radius: 30px;
  color: #fff;
  background-color: #000000;
}
#btn:hover {
  color: #000000;
  background-color: #fff;
}

  
